In [42]:
# import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ast
from datetime import datetime

In [2]:
# load datasets
products = pd.read_csv(r"C:\Users\Black Concept\WorkSpace\ALTSCHOOL\Altschool-Africa-Second-Semester-Project\products.csv")
orders = pd.read_csv(r"C:\Users\Black Concept\WorkSpace\ALTSCHOOL\Altschool-Africa-Second-Semester-Project\orders.csv")
line_items = pd.read_csv(r"C:\Users\Black Concept\WorkSpace\ALTSCHOOL\Altschool-Africa-Second-Semester-Project\line_items.csv")
events = pd.read_csv(r"C:\Users\Black Concept\WorkSpace\ALTSCHOOL\Altschool-Africa-Second-Semester-Project\events.csv")
customers = pd.read_csv(r"C:\Users\Black Concept\WorkSpace\ALTSCHOOL\Altschool-Africa-Second-Semester-Project\customers.csv")

### INSPECT DATASET TO SEE FIRST FEW ROWS

In [3]:
products.head()

   id                     name    price
0   1                iPhone 13  1099.99
1   2       Samsung Galaxy S21   899.99
2   3       Sony PlayStation 5   499.99
3   4  Microsoft Xbox Series X   499.99
4   5         Nike Air Max 270   129.99

In [4]:
orders.head()

,order_id,customer_id,status,checked_out_at
0,5e57de16-d33c-4126-bf0b-da65449cc3d1,4f4f5adc-1ca2-4b49-bac4-7b12d6d9d5cf,cancelled,2024-03-30 04:12:10.394413
1,62a67177-1d7f-44fe-86f8-622686d68f69,5cc88463-6a08-48b5-977c-9683a1c607b2,cancelled,2024-03-30 04:15:10.403885
2,9e950ce3-2e12-479c-a051-493c1a497d49,cda7bec0-7cbf-4145-baf9-e049bab94504,success,2024-03-30 04:19:10.406794
3,cddddfea-27ef-437f-817d-8f849d604c3c,e7f07fd1-05af-494a-ae5a-78c405b6f9c3,failed,2024-03-30 04:09:10.411149
4,170a66c8-6b39-468c-935c-445eb6be9fdf,873618f1-c201-4f8c-94bc-4cfc3d6d8cc8,cancelled,2024-03-30 04:09:10.412870

In [5]:
line_items.head()

   line_item_id                              order_id  item_id  quantity
0          3201  9e950ce3-2e12-479c-a051-493c1a497d49        4         2
1          3202  9e950ce3-2e12-479c-a051-493c1a497d49        5         4
2          3203  9e950ce3-2e12-479c-a051-493c1a497d49        9         5
3          3204  9e950ce3-2e12-479c-a051-493c1a497d49       12         1
4          3205  9e950ce3-2e12-479c-a051-493c1a497d49        6         2

In [6]:
events.head()

,event_id,customer_id,event_data,event_timestamp
0,14753,4f4f5adc-1ca2-4b49-bac4-7b12d6d9d5cf,"{""timestamp"": ""2024-03-21T12:47:11.012084"", ""e...",2024-03-21 12:47:11.012084
1,14754,4f4f5adc-1ca2-4b49-bac4-7b12d6d9d5cf,"{""timestamp"": ""2024-03-27T11:35:50.208930"", ""e...",2024-03-27 11:35:50.208930
2,14755,4f4f5adc-1ca2-4b49-bac4-7b12d6d9d5cf,"{""timestamp"": ""2024-03-30T04:03:10.392205"", ""e...",2024-03-30 04:03:10.392205
3,14756,4f4f5adc-1ca2-4b49-bac4-7b12d6d9d5cf,"{""item_id"": 12, ""quantity"": 5, ""timestamp"": ""2...",2024-03-30 04:03:10.394393
4,14757,4f4f5adc-1ca2-4b49-bac4-7b12d6d9d5cf,"{""item_id"": 11, ""quantity"": 1, ""timestamp"": ""2...",2024-03-30 04:03:10.394398

In [7]:
customers.head()

,customer_id,device_id,location,currency
0,4f4f5adc-1ca2-4b49-bac4-7b12d6d9d5cf,ef424b22-2393-4708-b065-c68152e8b377,Oman,USD
1,5cc88463-6a08-48b5-977c-9683a1c607b2,ba53d790-0cfc-4c00-9ab7-a6b104dceb65,United States of America,GBP
2,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN
3,e7f07fd1-05af-494a-ae5a-78c405b6f9c3,428688d6-31e6-4c73-a5d0-c8e849ccf6a3,Djibouti,NGN
4,873618f1-c201-4f8c-94bc-4cfc3d6d8cc8,1e939baf-c71d-444d-a832-d7dc3a6fcd0d,Guinea-Bissau,GBP

### EVENT DATA WRANGLING

In [8]:
# convert to dictionary
events['event_data'] = events['event_data'].apply(ast.literal_eval)

In [9]:
# extract the event type
events['event_type'] = events['event_data'].apply(lambda x: x.get('event_type'))

In [10]:
# print events
events.head()

,event_id,customer_id,event_data,event_timestamp,event_type
0,14753,4f4f5adc-1ca2-4b49-bac4-7b12d6d9d5cf,"{'timestamp': '2024-03-21T12:47:11.012084', 'e...",2024-03-21 12:47:11.012084,visit
1,14754,4f4f5adc-1ca2-4b49-bac4-7b12d6d9d5cf,"{'timestamp': '2024-03-27T11:35:50.208930', 'e...",2024-03-27 11:35:50.208930,visit
2,14755,4f4f5adc-1ca2-4b49-bac4-7b12d6d9d5cf,"{'timestamp': '2024-03-30T04:03:10.392205', 'e...",2024-03-30 04:03:10.392205,visit
3,14756,4f4f5adc-1ca2-4b49-bac4-7b12d6d9d5cf,"{'item_id': 12, 'quantity': 5, 'timestamp': '2...",2024-03-30 04:03:10.394393,add_to_cart
4,14757,4f4f5adc-1ca2-4b49-bac4-7b12d6d9d5cf,"{'item_id': 11, 'quantity': 1, 'timestamp': '2...",2024-03-30 04:03:10.394398,add_to_cart

In [11]:
# drop the event_data column
events.drop('event_data', axis= 1, inplace=True)

In [12]:
# print head to see data
events.head()

,event_id,customer_id,event_timestamp,event_type
0,14753,4f4f5adc-1ca2-4b49-bac4-7b12d6d9d5cf,2024-03-21 12:47:11.012084,visit
1,14754,4f4f5adc-1ca2-4b49-bac4-7b12d6d9d5cf,2024-03-27 11:35:50.208930,visit
2,14755,4f4f5adc-1ca2-4b49-bac4-7b12d6d9d5cf,2024-03-30 04:03:10.392205,visit
3,14756,4f4f5adc-1ca2-4b49-bac4-7b12d6d9d5cf,2024-03-30 04:03:10.394393,add_to_cart
4,14757,4f4f5adc-1ca2-4b49-bac4-7b12d6d9d5cf,2024-03-30 04:03:10.394398,add_to_cart

### MERGE OPERATIONS

In [13]:
df1 = customers.merge(events, how = 'inner', on='customer_id')

In [14]:
df2 = df1.merge(orders, how='inner', on='customer_id')

In [15]:
df3 = df2.merge(line_items, on='order_id', how='inner')

In [16]:
final_df = df3.merge(products, left_on='item_id', right_on='id', how='inner')

In [17]:
final_df.head()

,customer_id,device_id,location,currency,event_id,event_timestamp,event_type,order_id,status,checked_out_at,line_item_id,item_id,quantity,id,name,price
0,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14786,2024-03-26 22:05:58.863661,visit,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,4,Microsoft Xbox Series X,499.99
1,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14786,2024-03-26 22:05:58.863661,visit,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3202,5,4,5,Nike Air Max 270,129.99
2,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14786,2024-03-26 22:05:58.863661,visit,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3203,9,5,9,Nintendo Switch,299.99
3,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14786,2024-03-26 22:05:58.863661,visit,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3204,12,1,12,Coca-Cola 12-Pack,5.99
4,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14786,2024-03-26 22:05:58.863661,visit,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3205,6,2,6,Adidas Ultraboost,180.00

### DATA CLEANING

In [18]:
final_df.columns

Index(['customer_id', 'device_id', 'location', 'currency', 'event_id',
       'event_timestamp', 'event_type', 'order_id', 'status', 'checked_out_at',
       'line_item_id', 'item_id', 'quantity', 'id', 'name', 'price'],
      dtype='object')

In [37]:
# Cleaning the different IDs in our dataset- customer_id, device_id, and order_id

# functioning for shortening the id names
def handle_id(df, column):
    lst = []
    for item in df[column]:
        values = item.split('-')[-1]
        lst.append(values)
    df[column] = lst

In [40]:
# Clean the columns
columns_to_modify = ['customer_id', 'device_id', 'order_id']
for column in columns_to_modify:
    handle_id(final_df, column)

In [41]:
final_df.head()

,customer_id,device_id,location,currency,event_id,event_timestamp,event_type,order_id,status,checked_out_at,line_item_id,item_id,quantity,id,name,price,column
0,e049bab94504,b988ba17b245,Saint Helena,NGN,14786,2024-03-26 22:05:58.863661,visit,493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,4,Microsoft Xbox Series X,499.99,e049bab94504
1,e049bab94504,b988ba17b245,Saint Helena,NGN,14786,2024-03-26 22:05:58.863661,visit,493c1a497d49,success,2024-03-30 04:19:10.406794,3202,5,4,5,Nike Air Max 270,129.99,e049bab94504
2,e049bab94504,b988ba17b245,Saint Helena,NGN,14786,2024-03-26 22:05:58.863661,visit,493c1a497d49,success,2024-03-30 04:19:10.406794,3203,9,5,9,Nintendo Switch,299.99,e049bab94504
3,e049bab94504,b988ba17b245,Saint Helena,NGN,14786,2024-03-26 22:05:58.863661,visit,493c1a497d49,success,2024-03-30 04:19:10.406794,3204,12,1,12,Coca-Cola 12-Pack,5.99,e049bab94504
4,e049bab94504,b988ba17b245,Saint Helena,NGN,14786,2024-03-26 22:05:58.863661,visit,493c1a497d49,success,2024-03-30 04:19:10.406794,3205,6,2,6,Adidas Ultraboost,180.00,e049bab94504

In [48]:
# Feature engineering to generate day, month, year, and AM/PM columns
def extract_day(date):
    
    # ensure the input is in datetime format
    date_column = pd.to_datetime(date, format='%Y-%m-%d %H:%M:%S.%f')

    # Extracting day
    day = date_column.dt.day

    return day

In [49]:
# Feature engineering to generate day, month, year, and AM/PM columns
def extract_month(date):
    
    # ensure the input is in datetime format
    date_column = pd.to_datetime(date, format='%Y-%m-%d %H:%M:%S.%f')

    # Extracting month
    month = date_column.dt.month

    return month

In [50]:
# Feature engineering to generate day, month, year, and AM/PM columns
def extract_year(date):
    
    # ensure the input is in datetime format
    date_column = pd.to_datetime(date, format='%Y-%m-%d %H:%M:%S.%f')

    # Extracting year
    
    year = date_column.dt.year
    
    return year

In [51]:
# Feature engineering to generate day, month, year, and AM/PM columns
def extract_am_pm(date):
    
    # ensure the input is in datetime format
    date_column = pd.to_datetime(date, format='%Y-%m-%d %H:%M:%S.%f')

    # Extracting AM/PM
    am_pm = date_column.dt.strftime('%p')

    return am_pm

We have two columns with datetime data and we would be utilising the two as follows:

event_timestamp: This decribes the customer traffic on the website.

checked_out_at: This data contains information about the checkout time for the customer.

In [52]:
final_df['day'] = extract_day(final_df['event_timestamp'])
final_df['month'] = extract_month(final_df['event_timestamp'])
final_df['year'] = extract_year(final_df['event_timestamp'])
final_df['am/pm'] = extract_am_pm(final_df['event_timestamp'])

In [55]:
final_df['event_date'] = final_df['event_timestamp'].apply(lambda x: x.split(' ')[0])

In [56]:
final_df.tail()

,customer_id,device_id,location,currency,event_id,event_timestamp,event_type,order_id,status,checked_out_at,...,quantity,id,name,price,column,day,month,year,am/pm,event_date
578315,3dbf43c85a9d,ee544191fa1e,Christmas Island,USD,161958,2024-03-30 04:03:18.224196,add_to_cart,ff017ac859d5,failed,2024-03-30 04:14:18.224200,...,3,1,iPhone 13,1099.99,3dbf43c85a9d,30,3,2024,AM,2024-03-30
578316,3dbf43c85a9d,ee544191fa1e,Christmas Island,USD,161959,2024-03-30 04:03:18.224198,remove_from_cart,ff017ac859d5,failed,2024-03-30 04:14:18.224200,...,3,4,Microsoft Xbox Series X,499.99,3dbf43c85a9d,30,3,2024,AM,2024-03-30
578317,3dbf43c85a9d,ee544191fa1e,Christmas Island,USD,161959,2024-03-30 04:03:18.224198,remove_from_cart,ff017ac859d5,failed,2024-03-30 04:14:18.224200,...,3,1,iPhone 13,1099.99,3dbf43c85a9d,30,3,2024,AM,2024-03-30
578318,3dbf43c85a9d,ee544191fa1e,Christmas Island,USD,161960,2024-03-30 04:14:18.224200,checkout,ff017ac859d5,failed,2024-03-30 04:14:18.224200,...,3,4,Microsoft Xbox Series X,499.99,3dbf43c85a9d,30,3,2024,AM,2024-03-30
578319,3dbf43c85a9d,ee544191fa1e,Christmas Island,USD,161960,2024-03-30 04:14:18.224200,checkout,ff017ac859d5,failed,2024-03-30 04:14:18.224200,...,3,1,iPhone 13,1099.99,3dbf43c85a9d,30,3,2024,AM,2024-03-30